includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    paths:
        - src
    level: max
    checkMissingIterableValueType: true
    inferPrivatePropertyTypeFromConstructor: true
    checkUninitializedProperties: true
    unused_public:
        methods: true
        properties: true
        constants: true